/***RESETAR CONFIGURAÇÕES DOS NAVEGADORES ***/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/***ESTILO DO MENU ***/
 
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
  background: #fd7e14;
  height: 8vh;
}

a{
  color: #fff;
  text-decoration: none;
  transition: 0.3s;
}
 

.nav-list {
  list-style: none;
  display: flex;
  
}

.nav-list li {
  letter-spacing: 3px;
  margin-left: 32px;
  font-weight: 600;
  margin-top: 20px;
  padding-bottom: 24px;
  
}

.nav-list li a:hover{
border-bottom: 4px solid #fff;
margin-top: 20px;
padding-bottom: 24px;
}

.mobile-menu {
  display: none;
  cursor: pointer;
}

.mobile-menu div {
  width: 32px;
  height: 2px;
  background: #fff;
  margin: 8px;
  transition: 0.3s;
}

/***ESTILO DO MENU DE CADASTRO ***/

.login {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
  background: #fff;
  height: 6vh;
  border-bottom: 3px solid #fd7e14;
  width: 100%;
}

.login-list{
  list-style: none;
  display: flex;
}

.login img{
  width: 40px;
  height: 40px;    
}

.login-list span{
  padding-right: 20px;   
}
  
.login-list li {
  font-family: Open Sans,Arial,sans-serif;
  margin-left: 32px;
  font-size: 14px;
  color: #EC7000;
}

.botao{
  color: #ffffff;
  border-color: rgba(0,0,0,0);
  border-radius: 29px;
  letter-spacing: 0px;
  font-size: px;
  font-family: 'Montserrat',Helvetica,Arial,Lucida,sans-serif;
  font-weight: 600;
  background-color: #EC7000;
  padding: 10px 30px 10px 30px;
}

.logo {
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 4px;
  color: #EC7000;
}

/***ESTILO DO FORMULÁRIO ***/

main{
  display: flex;
  flex-wrap: wrap;
  background-color: #fff;
  margin: auto;
  width: 800px;
  margin-top: 4vh;
  padding: 20px;
}

.container_1 img{
  width: max(480px, 41vw);
}
/***ESTILO PARA AJUSTE EM DIFERENTES RESOLUÇÃO ***/

@media (max-width: 799px) {
  body {
    overflow: hidden;
  }
  .nav-list {
    position: absolute;
    top: 8vh;
    right: 0;
    width: 50vw;
    height: 92vh;
    background: #EC7000;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transform: translateX(100%);
    
  }
  .nav-list li {
    margin-left: 0;
    opacity: 0;
  }
  .mobile-menu {
    display: block;
  }
  .login-list span{
      display: none;
  }
  main{
    width: 100%;
  }
  .imputmenor label{
        width: 18%;
  }
  .imputmenor{
        width: 100%;
  }
  .imputmenor2{
        width: 100%;
        margin-right: 0px
  }
  .imputmenor label{
        width: 18%
  }
  
}

.nav-list.active {
  transform: translateX(0);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.mobile-menu.active .line1 {
  transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2 {
  opacity: 0;
}

.mobile-menu.active .line3 {
  transform: rotate(45deg) translate(-5px, -7px);
}

/***ESTILO DO RODAPE ***/

footer{
  width: 100%;
  height: 125px;
  background-color: #706a66;
  color: rgb(204, 204, 204);
  position: fixed;
  bottom: 0;
}

footer p{
  font-size: 18px;
  text-align: center;
  padding-top: 15px;
}

.rodape{
  width: 100%;
  height: 125px;
  background-color: #706a66;
  color: rgb(204, 204, 204);
}

.rodape p{
  font-size: 20px;
  text-align: center;
  padding-top: 10px;
}

footer ul{
  display: flex;
  justify-content: space-around;
  list-style: none;
  padding-top: 10px;
}

footer li a{
  color: rgb(204, 204, 204);
  font-size: 18px;
}