/*///  PAINEL DE CONTROLE */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#painel{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
    background: #fd7e14;
    height: 8vh;
}
  
a{  color: #fff;
    text-decoration: none;
}
     
.nav-list {
    list-style: none;
    display: flex;
}
    
.nav-list li {
    letter-spacing: 3px;
    margin-left: 32px;
    font-weight: 600;
    margin-top: 20px;
    padding-bottom: 24px;     
}

.nav-list li a:hover{
    opacity: 0.7;
}

.logo {
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #ffffff;
    text-align: center;
}

@media(max-width: 600px){
    .logo {
        display: none;
    }
}
 
.login {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
    background: #fff;
    height: 4vh;
    border-bottom: 3px solid #fd7e14;
    width: 100%;
}

.login-list li {
    font-family: Open Sans,Arial,sans-serif;
    margin-left: 32px;
    font-size: 14px;
    color: #fd7e14;
    list-style: none;
}

main{
    width: 80%;
    display: flex;
    
    margin: auto;
    justify-content: center;
    padding: 20px;
}

main table{
    border-collapse: collapse;
    box-shadow: 0 5px 10px #ccc;
    background-color: white;
    text-align: left;
    overflow: hidden;
}

thead{
    box-shadow: 0 5px 10px #ccc;
}

th{
    padding: 1rem 2rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    font-size: 0.7rem;
    font-weight: 900;
}

td{
    padding: 1rem 2rem;
}

.botao{
    text-decoration: none;
    background-color:  #fd7e14;
    color: #fff;
    padding: 10px 40px 10px 40px;
    border-radius: 10px;
}

tr:nth-child(even) {
    background-color: rgb(230, 230, 230);
}

main form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

main form label{
    display: flex;
    flex-direction: column;
}

main form label span{
    font-size: 1.1rem;
    margin-top: 2rem;
}

main form input{
    background-color: bisque;
    width: 600px;
    height: 50px;
    padding: 0 0.5rem;
    margin-top: 1rem;
    outline: none;
    color: rgb(160, 160, 160);
    font-size: 1rem;
    border: 1px solid #fd7e14;
    border-radius: 8px;
}

.link{
    color: black;
    text-decoration: none;
}


