@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/***RESETAR CONFIGURAÇÕES DOS NAVEGADORES ***/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/***ESTILO DO FORMULÁRIO ***/

main{
    display: flex;
    flex-wrap: wrap;
    background-color: #fff;
    margin: auto;
    max-width: 818px;
    margin-top: 4vh;   
    padding: 10px;
}
  
main form{
    display: flex;
    flex-wrap: wrap;
    background-color:white;
    padding: 25px 0px 0px 25px;
    width: 100%;
    margin: auto;
    margin-top: 40px;
    border-radius: 20px;
    box-shadow: -1px 10px 35px gray;
}
  
.campo{
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
    border: 1px solid #89837F;
    outline: none;
    background: #ffffff;
    color: #89837F;
    font-size: 16px;
    font-family: Arial, Georgia, 'Times New Roman', Times, serif;
    padding: 11px;
    margin-bottom: 15px;
    transition: 0.5s;
}

.campo:hover{
    border: 1px solid #EC7000;
    transition: 0.5s;
}

.campos label{
    font-size: 16px;
    margin-bottom: 12px;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 300;
}

h1{
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 28px;
    color: #EC7000;
    margin: auto;
}

h2{
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 21px;
    color: #000;
    margin:auto;
}

.col-1{
    width: 750px;
}

.col-3{
    width: 240px;
}

.col-2{
    width: 495px;
}

.sp-15{
    margin-right: 15px;
}

.col-12{
    width: 368px;
}

form button{
    background-color: #447ce2;
    border: none;
    border-radius: 4px;
    color: #ffffff;
    outline: none;
    cursor: pointer;
    font-size: 16px;
    font-family: 'IBM Plex Sans', sans-serif;
    width: 120px;
    height: 40px;
    margin-bottom: 25px;
}

  form button:hover{
    background-color: #3f72d1;
    transition: .3s;
}

@media (max-width: 800px){
    .campos{
        width: 100%;
        margin-right: 25px;
    }

    .col-1{
        width: 100%;
    }
    
    .col-3{
        width: 100%;
    }
    
    .col-2{
        width: 100%;
    }
    
    .sp-15{
        margin-right: 0px;
    }
    
    .col-12{
        width: 100%;
    }
}

#ccpf, 
#ccelular,
#clogradouro,
#cnumero,
#cnome{
    color: #ff0707;
    font-family: 'IBM Plex Sans', sans-serif;
}


footer{
    width: 100%;
    height: 125px;
    background-color: #706a66;
    color: rgb(204, 204, 204);
    position: fixed;
    bottom: 0;
  }
  
  footer p{
    font-size: 18px;
    text-align: center;
    padding-top: 15px;
  }
  
  .rodape{
    width: 100%;
    height: 125px;
    background-color: #706a66;
    color: rgb(204, 204, 204);
  }
  
  .rodape p{
    font-size: 20px;
    text-align: center;
    padding-top: 10px;
  }
  
  footer ul{
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding-top: 10px;
  }
  
  footer li a{
    color: rgb(204, 204, 204);
    font-size: 18px;
  }


